<section
  aria-labelledby="related-heading"
  class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0"
>
  <h2 id="related-heading" class="text-xl font-bold text-gray-900">
    Similar Products
  </h2>

  <div
    class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8"
  >
    <div *ngFor="let similarProduct of similarProducts">
      <div class="relative">
        <div class="relative h-72 w-full overflow-hidden rounded-lg">
          <img
            src="{{ similarProduct.coverImage }}"
            alt="coverImage"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <div class="relative mt-4">
          <h3 class="text-sm font-medium text-gray-900">
            {{ similarProduct.name }}
          </h3>
          <p class="mt-1 text-sm text-gray-500">
            {{ similarProduct.categoryName }}
          </p>
        </div>
        <div
          class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4"
        >
          <div
            aria-hidden="true"
            class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"
          ></div>
          <p class="relative text-lg font-semibold text-white">
            ₹{{ similarProduct.price }}
          </p>
        </div>
      </div>
      <div class="mt-6">
        <a
          class="relative flex items-center justify-center rounded-md border border-transparent bg-blue-500 px-8 py-2 text-sm font-medium text-white hover:bg-blue-400"
          >Add to cart</a
        >
      </div>
    </div>

    <!-- More products... -->
  </div>
</section>
