<section class="container px-4 pt-3 mx-auto">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div>
      <div class="flex items-center gap-x-3">
        <h2 class="text-4xl font-medium text-white">Categories</h2>
      </div>
    </div>
  </div>

  <div class="sm:flex sm:items-center pt-2 lg:pt-6 sm:justify-between my-2">
    <!-- add button start -->
    <div class="relative flex items-center mt-4 md:mt-0">
      <button
        (click)="addCategory()"
        class="flex items-center justify-center w-1/2 px-2 lg:px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>

        <span>Add Category</span>
      </button>
    </div>
    <!-- add button end -->
    <!-- SearchBar start -->
    <div class="mt-8 md:flex md:items-center md:justify-end">
      <div class="relative flex items-center mt-4 md:mt-0">
        <span class="absolute">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 mx-3 text-gray-600"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
        </span>
        <form [formGroup]="searchForm" class="w-full">
          <input
            formControlName="searchInput"
            (input)="onKeyUp($event)"
            type="text"
            placeholder="Search"
            class="block w-full py-1.5 pr-8 border rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5 bg-gray-900 text-gray-300 border-gray-600 focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
          /><span
            class="text-gray-500 absolute right-2 top-2 cursor-pointer"
            (click)="clearSearch()"
            *ngIf="
              searchForm.get('searchInput')?.value !== null &&
              searchForm.get('searchInput')?.value !== ''
            "
          >
            <i class="material-icons">clear</i>
          </span>
        </form>
      </div>
    </div>

    <!-- SearchBar end -->
  </div>
  <div class="flex flex-col mt-10">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-700 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-700">
            <thead class="bg-gray-800">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-400"
                >
                  <div class="flex items-center gap-x-3">
                    <button class="flex items-center gap-x-2">
                      <span>Id</span>
                    </button>
                  </div>
                </th>

                <th
                  scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-400"
                >
                  <div class="flex items-center gap-x-3">
                    <button
                      (click)="toggleSortDirection()"
                      class="flex items-center gap-x-2"
                    >
                      <span>Category name</span>

                      <svg
                        class="h-3"
                        viewBox="0 0 10 11"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z"
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-width="0.1"
                        />
                        <path
                          d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z"
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-width="0.1"
                        />
                        <path
                          d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z"
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-width="0.3"
                        />
                      </svg>
                    </button>
                  </div>
                </th>

                <th
                  scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-400"
                >
                  <span>Actions</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-700 bg-gray-900">
              <tr *ngIf="categories.length === 0">
                <td colspan="3" class="text-center text-white">
                  <span
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-400"
                    >No Data Available</span
                  >
                </td>
              </tr>
              <tr *ngFor="let category of categories; let i = index">
                <td
                  (click)="gotoSubCategory(category.id)"
                  class="px-4 py-4 text-sm font-medium text-gray-200 whitespace-nowrap"
                >
                  <div class="inline-flex items-center gap-x-3">
                    <span
                      style="cursor: pointer"
                      *ngIf="7 * (currentPage - 1) + i + 1 <= responseLength"
                    >
                      {{ 7 * (currentPage - 1) + i + 1 }}
                    </span>
                  </div>
                </td>
                <td
                  (click)="gotoSubCategory(category.id)"
                  class="px-4 py-4 text-sm text-gray-300 whitespace-nowrap"
                >
                  <span style="cursor: pointer">{{ category.name }}</span>
                </td>
                <td class="px-4 py-4 text-sm whitespace-nowrap">
                  <div class="flex items-center gap-x-6">
                    <button
                      (click)="deleteCategory(category.id)"
                      [matTooltip]="'Delete category'"
                      class="transition-colors duration-200 text-gray-300 hover:text-red-500 focus:outline-none"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>
                    </button>

                    <button
                      (click)="editCategoryName(category.id)"
                      [matTooltip]="'Edit category'"
                      class="transition-colors duration-200 text-gray-300 hover:text-yellow-500 focus:outline-none"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                        />
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination. -->
  <div class="mt-6 sm:flex sm:items-center sm:justify-between">
    <div class="text-sm text-gray-400">
      Page
      <span class="font-medium text-gray-100"
        >{{ currentPage }} of {{ lastPage }}</span
      >
    </div>

    <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
      <button
        [disabled]="currentPage === 1"
        (click)="previousPage()"
        class="disabled:text-gray-600 flex items-center justify-center w-1/2 px-5 py-2 text-sm capitalize transition-colors duration-200 border rounded-md sm:w-auto gap-x-2 bg-gray-900 text-gray-200 border-gray-700 hover:cursor-pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5 rtl:-scale-x-100"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
          />
        </svg>

        <span> previous </span>
      </button>

      <button
        (click)="nextPage()"
        [disabled]="currentPage === lastPage"
        class="disabled:text-gray-600 flex items-center justify-center w-1/2 px-5 py-2 text-sm capitalize transition-colors duration-200 border rounded-md sm:w-auto gap-x-2 bg-gray-900 text-gray-200 border-gray-700 hover:cursor-pointer"
      >
        <span> Next </span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5 rtl:-scale-x-100"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
