<app-nav></app-nav>

<div class="bg-white pt-6 w-full">
  <header class="relative overflow-hidden mx-12">
    <!-- Hero banner section start -->
    <app-banner></app-banner>
    <!-- Hero banner section end -->
  </header>

  <main>
    <!-- Category section -->
    <section aria-labelledby="category-section" class="bg-white mx-12">
      <div class="max-w-full px-4 py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="sm:flex sm:items-baseline sm:justify-between">
          <h2 id="category-heading" class="text-2xl font-bold tracking-tight text-gray-900">
            Shop by Category
          </h2>
          <a routerLink="/allProducts" class="hidden text-sm font-semibold text-blue-500 hover:text-blue-400 sm:block">
            Browse all categories
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>

        <div class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-4 sm:grid-rows-2 sm:gap-x-6 lg:gap-8">
          <ng-container *ngIf="categoryData[0]; else elseBlock1">
            <div
              class="group aspect-h-1 aspect-w-2 overflow-hidden rounded-lg sm:aspect-h-1 sm:aspect-w-1 sm:row-span-2">
              <img src="{{categoryData[0].coverImage}}" alt=""
                class="object-cover object-center group-hover:opacity-75" />
              <div aria-hidden="true" class="bg-gradient-to-b from-transparent to-black opacity-50"></div>
              <div class="flex items-end p-6">
                <div>
                  <h3 class="font-semibold text-white">
                    <a (click)="callCategory(categoryData[0])">
                      <span class="absolute inset-0"></span>
                      {{categoryData[0].name}}
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #elseBlock1>
            <div
              class="group aspect-h-1 aspect-w-2 overflow-hidden rounded-lg sm:aspect-h-1 sm:aspect-w-1 sm:row-span-2">
              <img src="assets/categoryNotavailable1.gif" alt=""
                class="object-cover object-center group-hover:opacity-75" />
              <div aria-hidden="true" class="bg-gradient-to-b from-transparent to-black opacity-50"></div>
              <div class="flex items-end p-6">
                <div>
                  <h3 class="font-semibold text-white">
                    <a routerLink="/allProducts">
                      <span class="absolute inset-0"></span>
                      Not Available
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </ng-template>
          <!-- <div *ngFor="let cat of categoryData; let i = index"
            class="group aspect-h-1 aspect-w-2 overflow-hidden rounded-lg sm:aspect-none sm:relative sm:h-full"
          >
          <ng-container *ngIf="categoryData[i+1]!=null; else elseBlock">
            <img
              src="{{cat[i+1].coverImage}}"
              alt=""
              class="object-cover object-center group-hover:opacity-75 sm:absolute sm:inset-0 sm:h-full sm:w-full"
            />
            <div
              aria-hidden="true"
              class="bg-gradient-to-b from-transparent to-black opacity-50 sm:absolute sm:inset-0"
            ></div>
            <div class="flex items-end p-6 sm:absolute sm:inset-0">
              <div>
                <h3 class="font-semibold text-white">
                  <a (click)="callCategory(cat[i+1])">
                    <span class="absolute inset-0"></span>
                    {{cat[i+1].name}}
                  </a>
                </h3>
              </div>
            </div>
          </ng-container>
           <ng-template #elseBlock>
            <img
              src="assets/categoryNotavailable.gif"
              alt=""
              class="object-cover object-center group-hover:opacity-75 sm:absolute sm:inset-0 sm:h-full sm:w-full"
            />
            <div
              aria-hidden="true"
              class="bg-gradient-to-b from-transparent to-black opacity-50 sm:absolute sm:inset-0"
            ></div>
            <div class="flex items-end p-6 sm:absolute sm:inset-0">
              <div>
                <h3 class="font-semibold text-white">
                  <a (click)="ngOnInit()">
                    <span class="absolute inset-0"></span>
                    Not Available
                  </a>
                </h3>
              </div>
            </div>
           </ng-template>
          </div> -->
          <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6]">
            <div class="group aspect-h-1 aspect-w-2 overflow-hidden rounded-lg sm:aspect-none sm:relative sm:h-full">
              <ng-container *ngIf="categoryData[i]; else elseBlock">
                <ng-container *ngIf="categoryData[i].coverImage!=null;">
                  <img src="{{ categoryData[i].coverImage }}" alt=""
                    class="object-cover object-center group-hover:opacity-75 sm:absolute sm:inset-0 sm:h-full sm:w-full" />
                </ng-container>
                <ng-container *ngIf="categoryData[i].coverImage==null;">
                  <img src="assets/categoryNotavailable1.gif" alt=""
                    class="object-cover object-center group-hover:opacity-75 sm:absolute sm:inset-0 sm:h-full sm:w-full opacity-70" />
                </ng-container>
                <div aria-hidden="true"
                  class="bg-gradient-to-b from-transparent to-black opacity-50 sm:absolute sm:inset-0"></div>
                <div class="flex items-end p-6 sm:absolute sm:inset-0">
                  <div>
                    <h3 class="font-semibold text-white">
                      <a (click)="callCategory(categoryData[i])">
                        <span class="absolute inset-0"></span>
                        {{ categoryData[i].name }}
                      </a>
                    </h3>
                  </div>
                </div>
              </ng-container>
              <ng-template #elseBlock>
                <img src="assets/categoryNotavailable1.gif" alt=""
                  class="object-cover object-center group-hover:opacity-75 sm:absolute sm:inset-0 sm:h-full sm:w-full opacity-100" />
                <div aria-hidden="true"
                  class="bg-gradient-to-b from-transparent to-black opacity-50 sm:absolute sm:inset-0"></div>
                <div class="flex items-end p-6 sm:absolute sm:inset-0">
                  <div>
                    <h3 class="font-semibold text-white">
                      <a routerLink="/allProducts">
                        <span class="absolute inset-0"></span>
                        Not Available
                      </a>
                    </h3>
                  </div>
                </div>
              </ng-template>
            </div>
          </ng-container>

         
        </div>

        <div class="mt-6 sm:hidden">
          <a routerLink="/allProducts" class="block text-sm font-semibold text-blue-500 hover:text-blue-400">
            Browse all categories
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>
      </div>
    </section>
    <!-- Trending products -->
    <section aria-labelledby="trending-section" class="bg-white mx-12">
      <div class="max-w-full px-4 py-24 sm:px-6 sm:py-32 lg:px-8 lg:pt-32">
        <div class="md:flex md:items-center md:justify-between">
          <h2 id="favorites-heading" class="text-2xl font-bold tracking-tight text-gray-900">
            Trending
          </h2>
          <a href="#" class="hidden text-sm font-semibold text-blue-500 hover:text-blue-400 md:block">
            Shop the collection
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>

        <div class="mt-6 grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-y-0 lg:gap-x-8">
          <div class="group relative">
            <div class="h-56 w-full overflow-hidden rounded-md group-hover:opacity-75 lg:h-72 xl:h-80">
              <img src="https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-02.jpg"
                alt="Hand stitched, orange leather long wallet." class="h-full w-full object-cover object-center" />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              <a href="#">
                <span class="absolute inset-0"></span>
                Leather Long Wallet
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Natural</p>
            <p class="mt-1 text-sm font-medium text-gray-900">$75</p>
          </div>
          <div class="group relative">
            <div class="h-56 w-full overflow-hidden rounded-md group-hover:opacity-75 lg:h-72 xl:h-80">
              <img src="https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-02.jpg"
                alt="Hand stitched, orange leather long wallet." class="h-full w-full object-cover object-center" />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              <a href="#">
                <span class="absolute inset-0"></span>
                Leather Long Wallet
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Natural</p>
            <p class="mt-1 text-sm font-medium text-gray-900">$75</p>
          </div>
          <div class="group relative">
            <div class="h-56 w-full overflow-hidden rounded-md group-hover:opacity-75 lg:h-72 xl:h-80">
              <img src="https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-02.jpg"
                alt="Hand stitched, orange leather long wallet." class="h-full w-full object-cover object-center" />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              <a href="#">
                <span class="absolute inset-0"></span>
                Leather Long Wallet
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Natural</p>
            <p class="mt-1 text-sm font-medium text-gray-900">$75</p>
          </div>
          <div class="group relative">
            <div class="h-56 w-full overflow-hidden rounded-md group-hover:opacity-75 lg:h-72 xl:h-80">
              <img src="https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-02.jpg"
                alt="Hand stitched, orange leather long wallet." class="h-full w-full object-cover object-center" />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              <a href="#">
                <span class="absolute inset-0"></span>
                Leather Long Wallet
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Natural</p>
            <p class="mt-1 text-sm font-medium text-gray-900">$75</p>
          </div>
          <!-- More products... -->
        </div>

        <div class="mt-8 text-sm md:hidden">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
            Shop the collection
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>
      </div>
    </section>

    <!-- Featured section -->
    <section aria-labelledby="cause-heading">
      <div class="relative bg-gray-800 px-6 py-32 sm:px-12 sm:py-40 lg:px-16">
        <div class="absolute inset-0 overflow-hidden">
          <img src="../../../../../assets/banners/featuresBanner2.jpg" alt=""
            class="h-full w-full object-cover object-center" />
        </div>
        <div aria-hidden="true" class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
        <div class="relative mx-auto flex max-w-3xl flex-col items-center text-center">
          <h2 id="cause-heading" class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
            Extensive , Flexible & High-Quality Products
          </h2>
          <p class="mt-3 text-xl text-white">
            Discover a vast collection of wedding decors and products, tailored
            to suit any style or theme. From rustic outdoor weddings to
            glamorous indoor affairs, our inventory includes elegant
            centerpieces, exquisite floral arrangements, luxurious linens,
            stylish chairs, dazzling lighting, and more. Find the perfect pieces
            to complement your vision.
          </p>
          <a href="#"
            class="mt-8 block w-full rounded-md border border-transparent bg-white px-8 py-3 text-base font-medium text-gray-900 hover:bg-gray-100 sm:w-auto">Read
            our story</a>
        </div>
      </div>
    </section>

    <!-- Favorites section -->
    <section aria-labelledby="favorites-heading" class="mx-12">
      <div class="max-w-full px-4 py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="sm:flex sm:items-baseline sm:justify-between">
          <h2 id="favorites-heading" class="text-2xl font-bold tracking-tight text-gray-900">
            Our Favorites
          </h2>
          <a href="#" class="hidden text-sm font-semibold text-indigo-600 hover:text-indigo-500 sm:block">
            Browse all favorites
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>

        <div class="mt-6 grid grid-cols-1 gap-y-10 sm:grid-cols-3 sm:gap-x-6 sm:gap-y-0 lg:gap-x-8">
          <div class="group relative">
            <div
              class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-auto">
              <img src="../../../../../assets/productImg/bridalChairs.jpg" alt=""
                class="h-full w-full object-cover object-center" />
            </div>
            <h3 class="mt-4 text-base font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Wedding chair pair
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">$32</p>
          </div>

          <div class="group relative">
            <div
              class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-auto">
              <img src="../../../../../assets/productImg/bridalChain.jpg" alt=""
                class="h-full w-full object-cover object-center" />
            </div>
            <h3 class="mt-4 text-base font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Gold chain
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">$32</p>
          </div>

          <div class="group relative">
            <div
              class="h-96 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2 group-hover:opacity-75 sm:h-auto">
              <img src="../../../../../assets/productImg/vilakku.jpg" alt=""
                class="h-full w-full object-cover object-center" />
            </div>
            <h3 class="mt-4 text-base font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Vilakku
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">$36</p>
          </div>
        </div>

        <div class="mt-6 sm:hidden">
          <a href="#" class="block text-sm font-semibold text-indigo-600 hover:text-indigo-500">
            Browse all favorites
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>
      </div>
    </section>

    <!-- CTA section -->
    <section aria-labelledby="sale-heading">
      <div class="overflow-hidden pt-32 sm:pt-14">
        <div class="bg-gray-800">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="relative pb-16 pt-48 sm:pb-24">
              <div>
                <h2 id="sale-heading" class="text-4xl font-bold tracking-tight text-white md:text-5xl">
                  Final Stock.
                  <br />
                  Up to 50% off.
                </h2>
                <div class="mt-6 text-base">
                  <a href="#" class="font-semibold text-blue-500">
                    Shop the sale
                    <span aria-hidden="true"> &rarr;</span>
                  </a>
                </div>
              </div>

              <div class="absolute -top-32 left-1/2 -translate-x-1/2 transform sm:top-6 sm:translate-x-0">
                <div class="ml-24 flex min-w-max space-x-6 sm:ml-3 lg:space-x-8">
                  <div class="flex space-x-6 sm:flex-col sm:space-x-0 sm:space-y-6 lg:space-y-8">
                    <div class="flex-shrink-0">
                      <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72"
                        src="../../../../../assets/banners/lmp1.jpg" alt="" />
                    </div>

                    <div class="mt-6 flex-shrink-0 sm:mt-0">
                      <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72"
                        src="../../../../../assets/banners/bd1.jpeg" alt="" />
                    </div>
                  </div>
                  <div class="flex space-x-6 sm:-mt-20 sm:flex-col sm:space-x-0 sm:space-y-6 lg:space-y-8">
                    <div class="flex-shrink-0">
                      <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72"
                        src="../../../../../assets/banners/imp3.jpg" alt="" />
                    </div>

                    <div class="mt-6 flex-shrink-0 sm:mt-0">
                      <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72"
                        src="../../../../../assets/banners/imp4.jpeg" alt="" />
                    </div>
                  </div>
                  <div class="flex space-x-6 sm:flex-col sm:space-x-0 sm:space-y-6 lg:space-y-8">
                    <div class="flex-shrink-0">
                      <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72"
                        src="../../../../../assets/banners/lmp2.jpeg" alt="" />
                    </div>

                    <div class="mt-6 flex-shrink-0 sm:mt-0">
                      <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72"
                        src="../../../../../assets/banners/bd3.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <app-footer></app-footer>
</div>