<!-- Image gallery sckeleton -->

<!-- Image gallery -->
<div class="flex flex-col-reverse">
  <!-- Image thumbnails -->
  <div class="mx-auto mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none">
    <div
      class="grid grid-cols-3 keen-slider thumbnail"
      aria-orientation="horizontal"
      role="tablist"
      #thumbnailRef
    >
      <div
        *ngFor="let image of productImageList; let i = index"
        id="tabs-2-tab-1"
        class="relative flex h-32 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4"
        aria-controls="tabs-2-panel-1"
        role="tab"
        type="button"
      >
        <span class="sr-only"> Angled view</span>
        <span
          class="absolute inset-0  flex items-center rounded-md keen-slider__slide number-slide{{
            i
          }}"
        >
          <img
            [src]="getImageUrl(image, i)"
            alt=""
            class="h-24 w-full object-contain"
          />
        </span>
      </div>
    </div>
  </div>
  <div class="navigation-wrapper">
    <div #sliderRef class="h-96 w-full keen-slider">
      <!-- selected image. -->
      <div
        *ngFor="let image of productImageList; let i = index"
        class="keen-slider__slide number-slide{{ i }}"
        id="tabs-2-panel-1"
        aria-labelledby="tabs-2-tab-1"
        role="tabpanel"
        tabindex="0"
      >
        <img
          [src]="getImageUrl(image, i)"
          alt=""
          class="h-full w-full object-contain object-center sm:rounded-lg"
        />
      </div>
      <svg
        *ngIf="slider"
        class="hidden lg:block"
        [ngClass]="
          'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
        "
        (click)="slider.prev()"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-chevron-left"
      >
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>

      <svg
        class="hidden lg:block"
        *ngIf="slider"
        [ngClass]="
          'arrow arrow--right ' +
          (slider.track.details.slides.length - 1 === currentSlide
            ? 'arrow--disabled'
            : '')
        "
        (click)="slider.next()"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-chevron-right"
      >
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>
    </div>
  </div>
</div>
