<div *ngIf="type == 0" class="flex ml-12 mt-4 p-8">
  <div class="flex">
    <div class="space-y-12 w-full">
      <div class="flex w-full min-h-full mt-4">
        <div class="w-full">
          <div class="sm:w-full sm:max-w-md">
            <div class="pt-2 sm:rounded-lg">
              <div>
                <h2 class="font-poppins_semi_bold text-2xl text-blue-500">
                  Change Password
                </h2>
                <p class="text-sm leading-6 text-gray-500">
                  Change your current password.
                </p>
              </div>
              <form
                class="space-y-6 w-full"
                [formGroup]="changePasswordForm"
                (submit)="onSubmit()"
              >
                <div class="mt-10 w-full">
                  <label
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Current Password</label
                  >
                  <div class="relative">
                    <input
                      (input)="handleOldPasswordChange()"
                      formControlName="oldPassword"
                      maxlength="16"
                      [type]="showPassword ? 'text' : 'password'"
                      name="newPassword"
                      id="newPassword"
                      placeholder="Current Password"
                      class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                    />
                    <div
                      class="absolute inset-y-0 right-0 pr-3 flex items-center"
                    >
                      <i
                        alt="show"
                        class="far fa-eye eye-show cursor-pointer text-gray-500 z-200"
                        (click)="showPassword = !showPassword"
                        [class.hide]="showPassword"
                      ></i>
                    </div>
                  </div>
                  <ng-container
                    *ngIf="
                      changePasswordForm.get('oldPassword')?.dirty ||
                      changePasswordForm.get('oldPassword')?.touched ||
                      formSubmitted
                    "
                  >
                    <span
                      class="text-red-500 text text-sm"
                      *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']"
                    >
                      Current Password is required.
                    </span>
                    <span
                      *ngIf="wrongCurrentPasswordError"
                      class="text-red-500 text-sm"
                      >{{ errorData }}</span
                    >
                  </ng-container>
                </div>
                <div class="mt-6 w-full">
                  <label
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >New Password</label
                  >
                  <div class="relative">
                    <input
                      (input)="handleNewPasswordChange()"
                      formControlName="newPassword"
                      maxlength="16"
                      [type]="showNewPassword ? 'text' : 'password'"
                      name="newPassword"
                      id="newPassword"
                      placeholder="New Password"
                      class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                    />
                    <div
                      class="absolute inset-y-0 right-0 pr-3 flex items-center"
                    >
                      <i
                        alt="show"
                        class="far fa-eye eye-show cursor-pointer text-gray-500 z-200"
                        (click)="showNewPassword = !showNewPassword"
                        [class.hide]="showNewPassword"
                      ></i>
                    </div>
                  </div>
                  <ng-container
                    *ngIf="
                      changePasswordForm.get('newPassword')?.dirty ||
                      changePasswordForm.get('newPassword')?.touched ||
                      formSubmitted
                    "
                  >
                    <span
                      class="text-red-500 text text-sm"
                      *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']"
                    >
                      New Password is required.
                    </span>

                    <span
                      class="text-red-500 text text-sm flex items-center justify-between"
                      *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']"
                    >
                      Password doesn't meet our criteria.

                      <mat-icon
                        class="error-icon text-xs pt-1"
                        [matTooltip]="
                          'Password must contain at least one uppercase letter, one lowercase letter, one special character, and one digit.'
                        "
                        >info
                      </mat-icon></span
                    >
                    <span
                      *ngIf="sameNewPasswordError"
                      class="text-red-500 text-sm"
                      >{{ samePasswordMsg }}</span
                    >
                  </ng-container>
                </div>
                <div class="mt-6">
                  <div class="relative">
                    <label
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >Confirm Password</label
                    >
                    <input
                      formControlName="confirmPassword"
                      maxlength="16"
                      type="password"
                      name="newPassword"
                      id="newPassword"
                      placeholder="Confirm  Password"
                      class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                    />
                  </div>
                  <span
                    class="text-red-500 text text-sm"
                    *ngIf="
                      changePasswordForm.get('confirmPassword')?.invalid &&
                      (changePasswordForm.get('confirmPassword')?.dirty ||
                        changePasswordForm.get('confirmPassword')?.touched ||
                        formSubmitted)
                    "
                  >
                    Confirm Password is required.
                  </span>
                  <span
                    class="text-red-500 text text-sm"
                    *ngIf="changePasswordForm.get('confirmPassword')?.dirty &&
              !changePasswordForm.get('confirmPassword')?.errors &&
              changePasswordForm.errors?.['passwordMismatchError']"
                  >
                    Passwords must match
                  </span>
                </div>
                <div class="mt-6">
                  <button
                    type="submit"
                    class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-500 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50"
                  >
                    Update Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <div class="pl-10 md:block hidden sm:block">
    <img
      class="pt-3 ml-12 pl-12 flex justify-evenly"
      width="425"
      height="425"
      src="/assets/changePass.gif"
      alt=""
    />
  </div>
</div>

<!-- form 2 -->
<div *ngIf="type != 0" class="flex ml-12 mt-4 p-8">
  <div class="flex">
    <div class="space-y-12 w-full">
      <div class="flex w-full min-h-full ml-13 mt-4 ">
        <div class="w-full">
          <div class="sm:max-w-md">
            <div class="flex w-full sm:rounded-lg">
              <form
                class="space-y-6 w-full"
                [formGroup]="addPasswordForm"
                (submit)="onAddPasswordSubmit()"
              >
                <div class="mt-4 w-full">
                  <h2 class="font-poppins_semi_bold text-2xl text-blue-500">
                    Add Password
                  </h2>
                  <p class="text-sm leading-6 text-gray-500">
                    Add a password for authetication.
                  </p>
                  <div class="mt-6 w-full">
                    <label
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >Password</label
                    >
                    <div class="relative mt-2">
                      <input
                        formControlName="newPassword"
                        maxlength="16"
                        [type]="showNewPassword ? 'text' : 'password'"
                        name="newPassword"
                        id="newPassword"
                        placeholder="New Password"
                        class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                      />

                      <div
                        class="absolute inset-y-0 right-0 pr-3 flex items-center"
                      >
                        <i
                          alt="show"
                          class="far fa-eye eye-show cursor-pointer text-gray-500 z-200"
                          (click)="showNewPassword = !showNewPassword"
                          [class.hide]="showNewPassword"
                        ></i>
                      </div>
                    </div>
                    <ng-container
                      *ngIf="
                        addPasswordForm.get('newPassword')?.dirty ||
                        addPasswordForm.get('newPassword')?.touched ||
                        formSubmitted
                      "
                    >
                      <span
                        class="text-red-500 text text-sm"
                        *ngIf="addPasswordForm.get('newPassword')?.errors?.['required']"
                      >
                        New Password is required.
                      </span>

                      <span
                        class="text-red-500 text text-sm flex items-center justify-between"
                        *ngIf="addPasswordForm.get('newPassword')?.errors?.['pattern']"
                      >
                        Password doesn't meet our criteria.

                        <mat-icon
                          class="error-icon text-xs pt-1"
                          [matTooltip]="
                            'Password must contain at least one uppercase letter, one lowercase letter, one special character, and one digit.'
                          "
                          >info
                        </mat-icon></span
                      >
                    </ng-container>
                  </div>
                  <div class="mt-6">
                    <label
                      for="city"
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >Confirm Password</label
                    >

                    <div class="relative mt-4">
                      <input
                        formControlName="confirmPassword"
                        maxlength="16"
                        type="password"
                        name="newPassword"
                        id="newPassword"
                        placeholder="Confirm  Password"
                        class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
                      />
                    </div>

                    <span
                      class="text-red-500 text text-sm"
                      *ngIf="
                        addPasswordForm.get('confirmPassword')?.invalid &&
                        (addPasswordForm.get('confirmPassword')?.dirty ||
                          addPasswordForm.get('confirmPassword')?.touched ||
                          formSubmitted)
                      "
                    >
                      Confirm Password is required.
                    </span>
                    <span
                      class="text-red-500 text text-sm"
                      *ngIf="addPasswordForm.get('confirmPassword')?.dirty &&
              !addPasswordForm.get('confirmPassword')?.errors &&
              addPasswordForm.errors?.['passwordMismatchError']"
                    >
                      Passwords must match
                    </span>
                  </div>
                  <div class="mt-6">
                    <button
                      type="submit"
                      class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-500 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50"
                    >
                      Add Password
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pl-10 md:block hidden sm:block">
    <img
      class="pt-3 ml-12 pl-12 flex justify-evenly"
      width="425"
      height="425"
      src="/assets/changePass.gif"
      alt=""
    />
  </div>
</div>
