
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <div class="text-center">
      <h1 class="mt-3 font-poppins_bold text-white text-2xl">Change Password</h1>
    </div>
    <div class="sm:mx-auto sm:w-full sm:max-w-md mt-6">
      <div class="bg-gray-800 px-4 py-8 shadow sm:rounded-lg sm:px-10">
        <form
          class="space-y-6"
          [formGroup]="changePasswordForm"
          (submit)="onSubmit()"
        >
          <div class="mt-4">
            <div class="relative">
              <input  (input)="handleOldPasswordChange()"
                formControlName="oldPassword"
                maxlength="16"
                [type]="showPassword ? 'text' : 'password'"
                name="password"
                id="password"
                placeholder="Current Password"
                class="block w-full px-4 py-2 mt-2 text-white placeholder-gray-400 bg-gray-800 border border-gray-500 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
                <i
                  alt="show"
                  class="far fa-eye eye-show cursor-pointer text-gray-500 z-200"
                  (click)="showPassword = !showPassword"
                  [class.hide]="showPassword"
                ></i>
              </div>
            </div>
            <ng-container
              *ngIf="
                changePasswordForm.get('oldPassword')?.dirty ||
                changePasswordForm.get('oldPassword')?.touched ||
                formSubmitted
              "
            >
              <span
                class="text-red-500 text text-sm"
                *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']"
              >
                Current Password is required.
              </span>
              <span
                  *ngIf="wrongCurrentPasswordError"
                  class="text-red-500 text-sm"
                  >{{ errorData }}</span
                >
            </ng-container>
          </div>
          <div class="mt-4">
            <div class="relative">
              <input     (input)="handleNewPasswordChange()"
                formControlName="newPassword"
                maxlength="16"
                [type]="showNewPassword ? 'text' : 'password'"
                name="password"
                id="password"
                placeholder="New Password"
                class="block w-full px-4 py-2 mt-2 text-white placeholder-gray-400 bg-gray-800 border border-gray-500 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
                <i
                  alt="show"
                  class="far fa-eye eye-show cursor-pointer text-gray-500 z-200"
                  (click)="showNewPassword = !showNewPassword"
                  [class.hide]="showNewPassword"
                ></i>
              </div>
            </div>
            <ng-container
              *ngIf="
                changePasswordForm.get('newPassword')?.dirty ||
                changePasswordForm.get('newPassword')?.touched ||
                formSubmitted
              "
            >
            <span *ngIf="sameNewPasswordError" class="text-red-500 text-sm">{{
              samePasswordMsg
            }}</span>
              <span
                class="text-red-500 text text-sm"
                *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']"
              >
                New Password is required.
              </span>

              <span
                class="text-red-500 text text-sm flex items-center justify-between"
                *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']"
              >
                Password doesn't meet our criteria.

                <mat-icon
                  class="error-icon text-xs pt-1"
                  [matTooltip]="
                    'Password must contain at least one uppercase letter, one lowercase letter, one special character, and one digit.'
                  "
                  >info
                </mat-icon></span
              >
            </ng-container>
          </div>
          <div class="mt-4">
            <div class="relative">
              <input
                formControlName="confirmPassword"
                maxlength="16"
                type="password"
                name="password"
                id="password"
                placeholder="Confirm  Password"
                class="block w-full px-4 py-2 mt-2 text-white placeholder-gray-400 bg-gray-800 border border-gray-500 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>
            <span
              class="text-red-500 text text-sm"
              *ngIf="
                changePasswordForm.get('confirmPassword')?.invalid &&
                (changePasswordForm.get('confirmPassword')?.dirty ||
                  changePasswordForm.get('confirmPassword')?.touched ||
                  formSubmitted)
              "
            >
              Confirm Password is required.
            </span>
            <span
              class="text-red-500 text text-sm"
              *ngIf="changePasswordForm.get('confirmPassword')?.dirty &&
          !changePasswordForm.get('confirmPassword')?.errors &&
          changePasswordForm.errors?.['passwordMismatchError']"
            >
              Passwords must match
            </span>
          </div>
          <div class="mt-6">
            <button
              type="submit"
              class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-500 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50"
            >
              Update Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
