<div class="flex flex-col-reverse animate-pulse">
  <!-- Image thumbnails -->
  <div class="mx-auto mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none">
    <div
      class="grid grid-cols-3 keen-slider thumbnail"
      aria-orientation="horizontal"
      role="tablist"
      #thumbnailRef
    >
      <div
        *ngFor="let item of [0, 1, 2, 3]"
        id="tabs-2-tab-1"
        class="relative flex h-32 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4"
        aria-controls="tabs-2-panel-1"
        role="tab"
        type="button"
      >
        <span class="sr-only"> Angled view</span>
        <span
          class="absolute inset-0 flex items-center rounded-md keen-slider__slide number-slide"
        >
          <div class="w-full">
            <div
              class="w-full h-64 bg-gray-300 rounded-lg md:h-72 dark:bg-gray-600"
            ></div>
          </div>
        </span>
      </div>
    </div>
  </div>

  <div class="h-96 w-full keen-slider" #sliderRef>
    <!-- selected image. -->
    <div
      class="keen-slider__slide"
      id="tabs-2-panel-1"
      aria-labelledby="tabs-2-tab-1"
      role="tabpanel"
      tabindex="0"
    >
      <div class="w-full">
        <div
          class="w-full h-64 bg-gray-300 rounded-lg md:h-72 dark:bg-gray-600"
        ></div>
      </div>
    </div>

    <!-- More images... -->
  </div>
</div>

<!-- orginal .  -->

<!-- <div class="flex flex-col-reverse"> -->
<!-- Image thumbnails -->
<!-- <div class="mx-auto mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none">
    <div
      class="grid grid-cols-3 keen-slider thumbnail"
      aria-orientation="horizontal"
      role="tablist"
      #thumbnailRef
    >
      <div

        id="tabs-2-tab-1"
        class="relative flex h-32 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4"
        aria-controls="tabs-2-panel-1"
        role="tab"
        type="button"
      >
      *ngFor="let image of productImageList; let i = index"
        <span class="sr-only"> Angled view</span>
        <span
          class="absolute inset-0  flex items-center rounded-md keen-slider__slide number-slide{{
            i
          }}"
        >
          <img
            [src]="getImageUrl(image, i)"
            alt=""
            class="h-24 w-full object-contain"
          />
        </span>
      </div>
    </div>
  </div> -->

<!-- <div class="h-96 w-full keen-slider" #sliderRef> -->
<!-- selected image. -->
<!-- <div
      *ngFor="let image of productImageList; let i = index"
      class="keen-slider__slide number-slide{{ i }}"
      id="tabs-2-panel-1"
      aria-labelledby="tabs-2-tab-1"
      role="tabpanel"
      tabindex="0"
    >
      <img
        [src]="getImageUrl(image, i)"
        alt=""
        class="h-full w-full object-contain object-center sm:rounded-lg"
      />
    </div> -->

<!-- More images... -->
<!-- </div>
</div> -->
