<div
  id="alert-additional-content-2"
  class="p-4 rounded-lg bg-white"
  role="alert"
>
  <div class="flex items-center">
    <svg
      class="h-6 w-6 text-red-900"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
      />
    </svg>
    <span class="sr-only">Info</span>
    <h3
      class="text-base font-poppins_medium leading-6 ml-2 text-gray-900"
      id="modal-title"
    >
      Alert
    </h3>
  </div>
  <div class="mt-2 mb-6 text-sm">
    <p class="text-sm text-gray-500">
      {{data?.message }}
    </p>
  </div>
  <div class="flex">
    <button
      [mat-dialog-close]="true"
      type="button"
      class="text-white bg-red-800 hover:bg-red-900 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center"
    >
      Confirm
    </button>
    <button
      mat-dialog-close
      type="button"
      class="text-red-800 bg-transparent border border-red-800 hover:bg-red-900 hover:text-white focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1.5 text-center"
      data-dismiss-target="#alert-additional-content-2"
      aria-label="Close"
    >
      Dismiss
    </button>
  </div>
</div>
